@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);
/* body {
    background-color: #ECF0FB;
    width: 100%;
    height: 100%;
}
h4{
    
    width: 20%;
    margin-left: 45%;
    font-size: 12px;
    font-weight: 400;
    color: #8D74ED;
    display: block;
    text-align: center;
    border-bottom: 1px solid #999;
    max-width: 100%;
    
}

/* .container{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height:auto;
    background-color: #ECF0FB;
    align-items: center;
     padding: 5px 5px;
}  
 */
   /* .box1  {
    margin: auto;
    width: 50%;
    padding: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
      }
      
      

hr{
    width: 50px;
    margin-bottom: 20px;
}
.box{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 400px;
    width: 100%;
    max-width: 100%;
    border-radius: 12px;
    margin: auto;
    justify-content: center;
    padding: 40px;
   
   
    
}
.box2{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 400px;
    width: 100%;
    max-width: 100%;
    border-radius: 12px;
    margin: auto;
    justify-content: center;
    padding: 20px;
} */
.input{
    width: 80%;
    height: 30px;
    background-color: #F5F5F5;
    font-weight: 100;
    font-size: small;
    padding: 5px ;
    border: none;
    outline: none;
    border-radius: 4px;
    
    
    }
     
/* #input{
    width: 250px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding:0 10px;
    display: block;
    align-items: center;
    background-color: #ECF0FB;
} */

label{
    font-size: small;
    font-weight: 400;
    color: #9197B3;
    margin-left: 2px;
    padding-left: 2px;
    max-width: 100%;
    text-align: center;
}
.cel{
    display: flex;
    margin-right:50px ;
    align-items: center;
    
   margin-bottom: 20px;

}
input[type="checkbox"] {
   appearance: none;
   -webkit-appearance: none;
   cursor: pointer;
   background-color: #9197B3;
    height: 15px;
    width: 15px;
    display: inline-block;
    position: relative;
    transition: .3s all ease-in-out;
    
  }
  
  
  input[type="checkbox"]:after{
    font-family: font Awesome 5 free;
    content: '\f00c';
    font-size: 50px;
    color:white;
    font-size: 50px;
    font-weight: 900;
    
}



  
 #btn1{
    background-color: #5932EA;
    color: #fff;
    margin: auto;
    width: 50%;
    
 }
 /* #btn{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 40px;
    background-color: #5932EA;
    color: #fff;
    align-items: center;
    
    text-align: center;
    border: none;
    outline: none;
    border-radius: 4px;
   
       
 } 

   */