body {
    background-color: #ECF0FB;
    width: 100%;
    height: 100%;
}
h4{
    
    width: 10%;
    margin-left: 45%;
    font-size: 12px;
    font-weight: 400;
    color: #8D74ED;
    display: block;
    text-align: center;
    border-bottom: 1px solid #999;
    
    
}

.container{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height:auto;
    background-color: #ECF0FB;
    align-items: center;
}  

   .box1  {
    margin: auto;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
      }
      
      

hr{
    width: 50px;
    margin-bottom: 20px;
}
.box{
    
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 400px;
    width: 500px;
    border-radius: 12px;
    margin: auto;
    justify-content: center;
    padding: 20px;
   
    
}
.box2{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 400px;
    width: 500px;
    border-radius: 12px;
    margin: auto;
    justify-content: center;
    padding: 20px;
}

.input{
    width: 80%;
    height: 30px;
    background-color: #F5F5F5;
    font-weight: 100;
    font-size: small;
    padding: 5px ;
    border: none;
    outline: none;
    border-radius: 4px;
    
    
    }
     
/* #input{
    width: 250px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding:0 10px;
    display: block;
    align-items: center;
    background-color: #ECF0FB;
} */

label{
    font-size: small;
    font-weight: 400;
    color: #9197B3;
    margin-left: 2px;
    padding: 2px;
    
    
}
.cel{
    display: flex;
    margin-right:40% ;
    align-items: center;
    justify-content: center;
   margin-bottom: 20px;

}
input[type="checkbox"] {
    appearance: none;
    
    height: 15px;
    width: 15px;
background-color: #9197B3;
    
    
  }
  
  input[type="checkbox"]:checked{
    background-color: #ECF0FB;
  }
  
 #btn1{
    background-color: #5932EA;
    color: #fff;
    margin: auto;
    width: 50%;
    
 }
 #btn{
    width: 80%;
    height: 40px;
    background-color: #5932EA;
    font-weight: 100;
    font-size: small;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 4px;
   
       
 } 
 .form{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    

}
 