
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.main{
  position: relative;
  padding: 20px;
  width: 100%;
}
.main-top{
  display: flex;
  width: 100%;
}
.main-top i{
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
}
.main-container{
  display: flex;
  margin-top: 20px;
}
#card-logo{
    width: fit-content;
    height: 50px;
    border-radius: 50%;
    background-color: #D3FFE7;
    padding: 10px;
    color: #00AC4F;
}

.main-container .card span{
    font-size: small;
    font-weight: 400;
    color: #ACACAC;
}
.card{
    display: flex;
    
    text-align: center;
    justify-content: center;
    padding:5px;
   width: 100%;
}
.card1{
    border-right: 1px solid #F0F0F0;

}
.main-top h1{
    padding-left: 40px;
    font-weight:500;
}

.main-container {
display: flex;
justify-content:space-between;
  width: 100%;
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
