.img{
    width: 90%;
    display: flex;
    margin: auto;
    height: 400px;
}
img{
    margin-top: 10px;
}
.txt{
    width: 70%;
    margin-top: 100px;
    height: 400px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color:#2092D1;
    
}
.box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -100px;
}
