
.logo{
    
    max-width: 30px;
   max-height: 30px;
    margin-left: 10px;
    

   
   
} 
nav{
    display: flex;
    flex-direction:row;
    height: 50px;
    justify-content: space-between;
    background-color: #5E3AE4;
    color: inherit;
    width: 100%;
    padding-top: 10px;
    

    
}
a{
    text-decoration: none;
    font-size:medium;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    
}
button{
    background-color: #FFFFFF;
    color: #6A45F3;
    width: 150px;
    height: 30px;
    font-size:medium;
    font-weight: 50;
    border: none;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 30px;

}