.logo{
    width: auto;
    max-width: 100%;
   max-height: 145px;
       
} 
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2   0px;
    margin-left: 40px;
    margin-right: 50px;
    backface-visibility: hidden;
    color: inherit;
    width: 95%;
    
}
a{
    text-decoration: none;
    font-size:medium;
    padding: 10px;
    color: #36628E;
    cursor: pointer;
}
button{
    background-color: #4DA8DA;
    color: white;
    width: 150px;
    height: 60px;
    font-size: larger;
    border: none;
    margin-left: 20px;
    cursor: pointer;
}